*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 80%;
    height: fit-content;
    background-color: #e06666;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}